/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}
.clearfix::after{
    content: '';
    display: table;
    clear:both;
}

/* General */
.container{
    min-width: 600px;
    width: 80%;
    margin: 0 auto;
}
.left{
    float: left;
}
.right{
    float:right;
}
/* Text Style */
span{
    font-weight: 300;
    padding-right: 5px;
}
nav ul li{
    font-weight: 300;
    color:grey;
    display: inline;
    text-transform: uppercase;
    list-style-type: none;
    padding-right: 5px;
    font-size: 18px;
}
a:hover{
    color: rgb(255, 136, 0);
}
nav ul a{
    color:grey;
    text-decoration: none;
    font-weight: 300;
}
h4{
    padding-top: 10px;
    color:grey;
    font-weight: 300;
}
h2{
    font-weight: 900;
    font-size: 35px;
}
.header-banner{
    position: relative;width: 100%;
    background-position:0;
    margin:30px auto;
    background-size: cover;
    height: 350px;
    background-image:
    url(../img/banner.jpg);
}
.hoverlay::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.2);
    filter: brightness(70%) drop-shadow(0px 0px 2px gray);
    border-radius: 10px;
}
/* / Text Style */

/* Header */
header{
    margin: 0 auto;
    height: 500px;
}

header>img{
    padding-right: 30px;
    border-right: 1px solid #d7d7d7;
    height: 60px;
}
.header-banner .text-banner{
    font-size: 26px;
    line-height: 1.1;
    width: 45%;
    font-weight: 300;
    position: relative;
    top: 220px;
    left: 35px;
    color:white;
}
.text-banner>p{
    font-size: 12px;
}
/* / Header */

/* Main */
main{
    height: 600px;
    min-width: 80%;
    line-height: 1.3em;
    width: 100%;
    margin:40px auto;
}
.text-area{
    padding-top: 10px;
    line-height: 1.2;
    color: grey;
    text-align: left;
    font-size: 13px;
    font-weight: 300;
}

/* Right Column */
section>img{
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
    object-fit: cover;
   
}
.section{
    margin:15px 0 0 0;
    height: 150px;
    width: calc(20% - 15px);
    object-fit: contain;
}
/* / Right Column */

/* Central Column */
.article{
    margin: 15px 0 0 0;
    width:60%;
}
article>img{
    margin-bottom: 10px;
    height: 150px;
    object-fit: cover;
    width: 100%;
}
.article-title{
    font-weight: 400;
    color: black;
}
/* / Central Column */

/* Left Column */
aside>img{
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.aside{
    object-position: 0;
    margin: 15px 15px 0 0;
    width: calc(20% - 15px);
    height: 150px;
}
/* / Left Column */

/* Footer */
footer{
    margin-top:30px;
    height: 200px;
}
footer>p{
    font-size: 15px;
    margin: 0 auto;
    height: 50px;
    font-weight: 300;
    line-height:3;
    text-align: center;
}
footer>p>span{
    
    color:red;
}
/* / Footer */


