/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}
.clearfix::after{
    content: '';
    display: table;
    clear:both;
}

/* General */
.container{
    width: 80%;
    margin: 0 auto;
}
.left{
    float: left;
}
.right{
    float:right;
}
/* Text Style */
span{
    font-weight: 300;
    padding-right: 5px;
}
nav ul li{
    font-weight: 300;
    color:grey;
    display: inline;
    text-transform: uppercase;
    list-style-type: none;
    padding-right: 5px;
    font-size: 18px;
}
a:hover{
    color: rgb(255, 136, 0);
}
nav ul a{
    color:grey;
    text-decoration: none;
    font-weight: 300;
}
h4{
    padding-top: 10px;
    color:grey;
    font-weight: 300;
}
h2{
    font-weight: 900;
    font-size: 35px;
}
.header-banner{
    border-radius: 10px;
    position: relative;
    width: 100%;
    background-position:0;
    margin:30px auto;
    background-size: cover;
    height: 350px;
    background-image:
    url(../img/banner.jpg);
}
.hoverlay::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
/* / Text Style */

/* Header */
header{
    margin: 0 auto;
}
header>img{
    padding-right: 30px;
    border-right: 1px solid #d7d7d7;
    height: 60px;
}
.text-banner{
    font-size: 26px;
    line-height: 1.1;
    width: 55%;
    font-weight: 300;
    position: relative;
    top: 180px;
    left: 35px;
    color:white;
}
.text-banner>p{
    font-size: 13px;
}
/* / Header */

/* Main */
main{
    line-height: 1.3em;
    width: 100%;
    margin:40px auto;
}
.text-area{
    padding-top: 10px;
    line-height: 1.2;
    color: grey;
    text-align: left;
    font-size: 13px;
    font-weight: 300;
}

/* Right Column */
section .small-image{
    position: relative;
    width: 100%;
}
section img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}
small img{
    
    object-fit: cover;
}
section{
    margin:0 0 0 0;
    width: 20%;
    object-fit: contain;
}
/* / Right Column */

/* Central Column */
article .big-image{
    position: relative;
    width: 100%;
}
.article{
    margin: 0 15px 0 15px;
    width:calc(60% - 30px);
}
.big-image img{
    height: 150px;
    object-fit: cover;
    width: 100%;
}
.article-title{
    font-weight: 400;
    color: black;
}
/* / Central Column */

/* Left Column */
aside .small-image{
    position: relative;
    width: 100%;
}
aside img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}
aside{
    width: 20%;
}
/* / Left Column */

/* Footer */
footer{
    width:100%;
    bottom: -100px;
    text-align: center;
}
footer>p{
    text-align: center;
    height: 50px;
    font-size: 15px;
    margin: 0 auto;
    font-weight: 300;
    line-height:3;
}
footer>p>span{
    color:red;
}
/* / Footer */


